* {
    padding: 0;
    margin: 0;
}

html {

    background-image: url(https://img.freepik.com/premium-vector/vector-abstract-background-from-a-grid-template-illustration-of-a-geometric-wavy-mesh_213497-1130.jpg?w=1480);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    scroll-behavior: smooth;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;

}

.header-container {
    padding: 30px 15px;
    background-color: grey;
}


.image {
    width: 50px;
    height: 50px;
}

.navlist {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;

}

.nav-link {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.photo {
    border-radius: 50%;
}

.avatar {
    display: flex;
    justify-content: space-between;
}

.name {
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    font-size: 38px;

}

p {
    font-size: 30px;
    color: black;
}

.avatar {
    background-color: gray;
    padding: 0 15px;
}

.about {
    max-width: 700px;
    margin-top: 25px;
}

.list {
    font-size: 30px;
    color: black;
    list-style-type: none;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    align-items: center;
    background-color: grey;
    font-size: 25px;
    justify-content: space-around;
}

.head {
    text-align: center;

}

.code {
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

.code-wrapper {
    display: flex;
    justify-content: center;
}

.wrap {

    background-color: white;
    text-align: center;
    padding: 20px 0;

}

hr {
    height: 3px;
}

.github:active,
.githubt:hover,
.github {
    text-decoration: none;
    color: blue
}